name: Build and publish

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-n-publish:
    name: Build and publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
        with:
          submodules: true

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Yarn
        run: npm install yarn -g

      - name: Install Node dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Deploy
        uses: lgc2333/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: dist
          FOLDER: dist
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: 'upload dist [skip-ci]'
          SQUASH_HISTORY: true
